cscript,C:\Windows\System32\cscript
getdate,getDateMinusArg.vbs
net,C:\Windows\System32\net.exe
errorfilesin,"\\10.10.10.10\logs"#"DOMAIN\administrator"#"password"#"\"#"#_m#/#_d#/#yyyy#"#"Backup completed"#"error"#"Daily Backup #dd#/#mm#/#yyyy#"#"l" 
find,C:\Windows\System32\find.exe
notation,<notation>