cscript,C:\Windows\System32\cscript
servicesfolder,\\10.10.10.10\Services
net,C:\Windows\System32\net.exe
login,administrator password
errorfilesin,\service1\logs\#yyyy#-#mm#-#dd#\error.log:"Service 1 on #yyyy#-#mm#-#dd#" \Service2\Error\#_d#_#_m#_#yyyy#.log:"Service 2 on #yyyy#-#mm#-#dd#"
getdate,getDateMinusArg.vbs
notation,<notation>